In [1]:
import pandas as pd

from IPython.core.display import display, HTML 


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

display(HTML("<style>.container { width:90% !important; }</style>")) #permet d'agrandir les cellules

#### Download the SIRENE database from data.gouv

In [2]:
import requests
import os
import zipfile

# Url of the sirene database on data.gouv
URL = "https://www.data.gouv.fr/fr/datasets/r/4a8befd7-1d05-41cd-9e1e-b0f19c73d73b" 

# Accessing the URL
r = requests.get(URL, allow_redirects=True)

# Specify the path where to store data
PATH = "C:/Users/defra/Desktop/git/DATA/"
# PATH = ""

# Storing data
with open(PATH+'sirene.zip', 'wb') as f:
    f.write(r.content)

# Unzipping data
with zipfile.ZipFile(PATH+'sirene.zip', 'r') as zip_ref:
    zip_ref.extractall(PATH)

#### Data sampling

In [3]:
# Reading extracted CSV (Warning: up to 7Go of RAM memory might be needed)
sirene = pd.read_csv(PATH+'StockEtablissement_utf8.csv', low_memory=False)

# Filtering on active and named businesses 
sirene = sirene.query("etatAdministratifEtablissement=='A'")
sirene = sirene[~sirene.denominationUsuelleEtablissement.isna()]

# Drawing a sample 
test = sirene.sample(n=5, random_state=5)
test

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,nombrePeriodesEtablissement,complementAdresseEtablissement,numeroVoieEtablissement,indiceRepetitionEtablissement,typeVoieEtablissement,libelleVoieEtablissement,codePostalEtablissement,libelleCommuneEtablissement,libelleCommuneEtrangerEtablissement,distributionSpecialeEtablissement,codeCommuneEtablissement,codeCedexEtablissement,libelleCedexEtablissement,codePaysEtrangerEtablissement,libellePaysEtrangerEtablissement,complementAdresse2Etablissement,numeroVoie2Etablissement,indiceRepetition2Etablissement,typeVoie2Etablissement,libelleVoie2Etablissement,codePostal2Etablissement,libelleCommune2Etablissement,libelleCommuneEtranger2Etablissement,distributionSpeciale2Etablissement,codeCommune2Etablissement,codeCedex2Etablissement,libelleCedex2Etablissement,codePaysEtranger2Etablissement,libellePaysEtranger2Etablissement,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
20806154,533716494,26,53371649400026,O,2017-09-25,01,2018.0,4399DC,2020-08-25T10:46:25,True,1,NaN,11,NaN,RUE,DU REMOULEUR,44800.0,SAINT-HERBLAIN,NaN,NaN,44162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-25,A,PAYS DE LOIRE RAVALEMENT,NaN,NaN,PAYS DE LOIRE RAVALEMENT,43.99D,NAFRev2,N
15334638,479592461,46,47959246100046,O,2016-04-14,NaN,NaN,8121ZZ,2016-05-06T10:49:16,False,1,NaN,43,NaN,RUE,DU CHATEAU,77300.0,FONTAINEBLEAU,NaN,NaN,77186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-04-14,A,NaN,NaN,NaN,YANN SERVICES,96.01B,NAFRev2,N
23955156,793006222,46,79300622200046,O,2017-06-01,NaN,NaN,NaN,2017-06-06T02:49:14,False,1,NaN,13,NaN,RUE,DU MUR DU PARC,78240.0,CHAMBOURCY,NaN,NaN,78133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-06-01,A,CAP FRAICHEUR,NaN,NaN,CAP FRAICHEUR,47.23Z,NAFRev2,O
28773784,848510822,10,84851082200010,O,2019-02-18,NaN,NaN,NaN,2019-02-23T03:48:28,True,1,NaN,32,NaN,RUE,DE NIMES,30730.0,MONTPEZAT,NaN,NaN,30182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-18,A,NaN,NaN,NaN,AUDEBOURG ASSOCIATES,70.22Z,NAFRev2,N
27089733,825374226,17,82537422600017,O,2017-02-06,NaN,NaN,4334ZC,2020-01-11T03:41:22,True,3,LES ESCOURTINES,1,NaN,ALL,DES ARBOUSIERS,13011.0,MARSEILLE 11,NaN,NaN,13211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-10,A,NaN,NaN,NaN,BG,43.34Z,NAFRev2,N

In [6]:
sirene.activitePrincipaleEtablissement.apply(lambda u:u[:2]=='47')

119          True
120          True
573         False
4299        False
5395         True
            ...
30373923    False
30373925    False
30373926    False
30373928    False
30373974    False
Name: activitePrincipaleEtablissement, Length: 1106350, dtype: bool

In [ ]:
sirene

In [4]:
test = sirene.sample(n=5, random_state=0)
test

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,nombrePeriodesEtablissement,complementAdresseEtablissement,numeroVoieEtablissement,indiceRepetitionEtablissement,typeVoieEtablissement,libelleVoieEtablissement,codePostalEtablissement,libelleCommuneEtablissement,libelleCommuneEtrangerEtablissement,distributionSpecialeEtablissement,codeCommuneEtablissement,codeCedexEtablissement,libelleCedexEtablissement,codePaysEtrangerEtablissement,libellePaysEtrangerEtablissement,complementAdresse2Etablissement,numeroVoie2Etablissement,indiceRepetition2Etablissement,typeVoie2Etablissement,libelleVoie2Etablissement,codePostal2Etablissement,libelleCommune2Etablissement,libelleCommuneEtranger2Etablissement,distributionSpeciale2Etablissement,codeCommune2Etablissement,codeCedex2Etablissement,libelleCedex2Etablissement,codePaysEtranger2Etablissement,libellePaysEtranger2Etablissement,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
4740965,342105277,137,34210527700137,O,2018-03-01,NaN,NaN,NaN,2018-05-10T08:34:25,False,2,NaN,11,NaN,NaN,LOT MANSARDE CATALOGNE,97231.0,ROBERT,NaN,NaN,97222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-05-07,A,NaN,NaN,NaN,RES D ACCUEIL LA MYRIAM,87.20A,NAFRev2,O
26727933,822267837,26,82226783700026,O,2018-01-01,03,2018.0,NaN,2020-08-25T11:29:37,True,1,NaN,10,NaN,BD,VICTOR HUGO,4000.0,DIGNE-LES-BAINS,NaN,NaN,04070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-01,A,NaN,NaN,NaN,LE VICTOR HUGO,56.10A,NAFRev2,N
27802778,834178360,14,83417836000014,O,2017-12-04,NaN,NaN,9529ZF,2019-11-14T14:01:05,True,1,NaN,9,NaN,AV,DE VERDUN,94410.0,SAINT-MAURICE,NaN,NaN,94069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-04,A,NaN,NaN,NaN,UNE HISTOIRE DE BRICOLE,95.29Z,NAFRev2,N
28869439,849568357,24,84956835700024,O,2019-09-13,NaN,NaN,NaN,2020-08-28T09:33:54,True,1,NaN,32,NaN,ALL,VAUBAN,59110.0,LA MADELEINE,NaN,NaN,59368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-13,A,NaN,NaN,NaN,STL3D,47.91B,NAFRev2,N
30079447,888798717,11,88879871700011,O,2020-09-03,NaN,NaN,NaN,2020-10-29T10:52:54,True,1,BAT E98,17,NaN,AV,FOURNACLE,13013.0,MARSEILLE 13,NaN,NaN,13213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-09-03,A,NaN,NaN,NaN,M NAM' KARIBU,47.91B,NAFRev2,N

#### Google Search Results